<div class="container">
  <div class="todo-app">

    <!-- Title -->
    <div class="app-title">
      <h2>To-Do App</h2>
    </div>

    <!-- Task Input -->
    <div class="task-input">
      <input [(ngModel)]="newTaskText" type="text" placeholder="Add your tasks">
      <button (click)="addNewTask()">Add</button>
    </div>

    <!-- Task list -->
    <ul class="list-container">
      <!-- Uncompleted Task -->
      <li class="list-item" *ngFor="let task of tasks" [class.completed]="task.isComplete">
        <input type="checkbox" [checked]="task.isComplete" (click)="toggleTask(task)">
        <label>{{task.taskText}}</label>
      </li>
    </ul>

  </div>
</div>