* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(135deg, #153677, #4e085f);
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-app {
    width: 40%;
    background-color: #fff;
    padding: 40px 30px 70px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 2rem;
    box-shadow:
        2.8px 2.8px 2.2px rgba(0, 0, 0, 0.02),
        6.7px 6.7px 5.3px rgba(0, 0, 0, 0.028),
        12.5px 12.5px 10px rgba(0, 0, 0, 0.035),
        22.3px 22.3px 17.9px rgba(0, 0, 0, 0.042),
        41.8px 41.8px 33.4px rgba(0, 0, 0, 0.05),
        100px 100px 80px rgba(0, 0, 0, 0.07);
}

.app-title {
    display: flex;
    gap: 1rem;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.app-title h2,
.app-title i {
    color: #002765;
}

.app-title i {
    font-size: 26px;
}

.task-input {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #edeef0;
    border-radius: 30px;
}

input {
    width: 100%;
    border: none;
    outline: none;
    background-color: transparent;
    padding: 12px;
    font-size: 17px;
    padding-left: 20px;
    color: rgb(64, 64, 64);
}

button {
    border: none;
    cursor: pointer;
    outline: none;
    padding: 15px 50px;
    border-radius: 30px;
    background-color: #ff5945;
    color: #fff;
    font-size: 18px;
    transition: all .25s ease;
}

button:hover {
    filter: brightness(.8);
}

ul,
li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.list-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.list-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 7px;
}

.list-item,
.list-item *:hover {
    cursor: pointer;
}

.btn-delete {
    opacity: 0.8;
    transition: 0.3s;
}

.btn-delete:hover {
    opacity: 1;
    color: #ff5945;
}

.list-item label {
    white-space: nowrap;
    font-size: 25px;
}

.completed {
    color: #555;
    text-decoration: line-through;
}